{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "max-len": ["error", {"code": 140, "ignoreUrls": true}],
    "react/prop-types": "off", // Disable prop-types as we use TypeScript for type checking
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [
          {"char": ">", "alternatives": ["&gt;"]},
          {"char": "}", "alternatives": ["&#125;"]}
        ]
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "es2020": true
  },
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "overrides": [
    // Override some TypeScript rules just for .js files
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
